<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@detailSDUFS.edit.headline">Edit Detail SDUFS</h1>
    <div>
        <a routerLink="/detailSDUFSs" class="btn btn-secondary" i18n="@@detailSDUFS.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" i18n-label="@@detailSDUFS.id.label" label="Id" />
    <app-input-row [group]="editForm" field="sdu" rowType="number" i18n-label="@@detailSDUFS.sdu.label" label="Sdu" />
    <app-input-row [group]="editForm" field="datePeremption" rowType="datepicker" i18n-label="@@detailSDUFS.datePeremption.label" label="Date Peremption" />
    <app-input-row [group]="editForm" field="detailSDU" rowType="select" [options]="detailSDUValues" i18n-label="@@detailSDUFS.detailSDU.label" label="Detail SDU" />
    <input type="submit" i18n-value="@@detailSDUFS.edit.headline" value="Edit Detail SDUFS" class="btn btn-primary mt-4" />
</form>
