<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@programme.add.headline">Add Programme</h1>
    <div>
        <a routerLink="/programmes" class="btn btn-secondary" i18n="@@programme.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="name" i18n-label="@@programme.name.label" label="Name" />
    <input type="submit" i18n-value="@@programme.add.headline" value="Add Programme" class="btn btn-primary mt-4" />
</form>
