<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@organisationUnitGroup.edit.headline">Edit Organisation Unit Group</h1>
    <div>
        <a routerLink="/organisationUnitGroups" class="btn btn-secondary" i18n="@@organisationUnitGroup.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" i18n-label="@@organisationUnitGroup.id.label" label="Id" />
    <app-input-row [group]="editForm" field="name" i18n-label="@@organisationUnitGroup.name.label" label="Name" />
    <app-organisation-unit-tree-select [group]="editForm" field="organisationUnits" i18n-label="@@organisationUnitGroup.organisationUnits.label" label="Organisation Units" />
    <input type="submit" i18n-value="@@organisationUnitGroup.edit.headline" value="Edit Organisation Unit Group" class="btn btn-primary mt-4" />
</form>
