<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<p class="mb-5">
    <span i18n="@@home.index.swagger.text">Swagger is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" i18n="@@home.index.swagger.link">available here</a>.
</p>
<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">
        <a routerLink="/produits" class="list-group-item list-group-item-action" i18n="@@produit.list.headline">Produits</a>
        <a routerLink="/organisationUnits" class="list-group-item list-group-item-action" i18n="@@organisationUnit.list.headline">Organisation Units</a>
        <a routerLink="/organisationUnitGroups" class="list-group-item list-group-item-action" i18n="@@organisationUnitGroup.list.headline">Organisation Unit Groups</a>
        <a routerLink="/programmes" class="list-group-item list-group-item-action" i18n="@@programme.list.headline">Programmes</a>
        <a routerLink="/produitProgrammeOrgGroups" class="list-group-item list-group-item-action" i18n="@@produitProgrammeOrgGroup.list.headline">Produit Programme Org Groups</a>
        <a routerLink="/rapportDistricts" class="list-group-item list-group-item-action" i18n="@@rapportDistrict.list.headline">Rapport Districts</a>
        <a routerLink="/detailSDUFSs" class="list-group-item list-group-item-action" i18n="@@detailSDUFS.list.headline">Detail SDUFSs</a>
        <a routerLink="/rapportfss" class="list-group-item list-group-item-action" i18n="@@rapportfs.list.headline">Rapportfses</a>
        <a routerLink="/rapportPhaGDiss" class="list-group-item list-group-item-action" i18n="@@rapportPhaGDis.list.headline">Rapport Pha GDises</a>
        <a routerLink="/rapportFSLignes" class="list-group-item list-group-item-action" i18n="@@rapportFSLigne.list.headline">Rapport FSLignes</a>
        <a routerLink="/detailSDUPhaGDiss" class="list-group-item list-group-item-action" i18n="@@detailSDUPhaGDis.list.headline">Detail SDUPha GDises</a>
        <a routerLink="/rapportHopitauxes" class="list-group-item list-group-item-action" i18n="@@rapportHopitaux.list.headline">Rapport Hopitauxes</a>
        <a routerLink="/detailSDUHopitals" class="list-group-item list-group-item-action" i18n="@@detailSDUHopital.list.headline">Detail SDUHopitals</a>
    </div>
</div>
